test_abe.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "DynamoDB GetItem",
  "States": {
    "DynamoDB GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": "Article",
        "Key": {
          "ArticleId": {
            "S": "{% $states.input.ArticleID %}"
          }
        }
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.Item) %}",
          "Next": "Parallel"
        }
      ],
      "Default": "Fail"
    },
    "Parallel": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "TranslateText",
          "States": {
            "TranslateText": {
              "Type": "Task",
              "Arguments": {
                "SourceLanguageCode": "Ja",
                "TargetLanguageCode": "en",
                "Text": "{% $states.input.Item.Detail.S %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:translate:translateText",
              "Next": "DynamoDB UpdateItem",
              "Output": {
                "Item": "{% $states.input.Item %}",
                "Result": "{% $states.result %}"
              }
            },
            "DynamoDB UpdateItem": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Arguments": {
                "TableName": "Article",
                "Key": {
                  "ArticleId": {
                    "S": "{% $states.input.Item.ArticleId.S %}"
                  }
                },
                "UpdateExpression": "SET EnglishVal = :myValueRef",
                "ExpressionAttributeValues": {
                  ":myValueRef": {
                    "S": "{% $states.input.Result.TranslatedText %}"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "StartSpeechSynthesisTask",
          "States": {
            "StartSpeechSynthesisTask": {
              "Type": "Task",
              "Arguments": {
                "OutputFormat": "mp3",
                "OutputS3BucketName": "abe-traslate-to-audio",
                "Text": "{% $states.input.Item.Detail.S %}",
                "VoiceId": "Mizuki"
              },
              "Resource": "arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask",
              "Output": {
                "Item": "{% $states.input.Item %}",
                "Result": "{% $states.result %}"
              },
              "Next": "GetSpeechSynthesisTask"
            },
            "GetSpeechSynthesisTask": {
              "Type": "Task",
              "Arguments": {
                "TaskId": "{%$states.input.Result.SynthesisTask.TaskId %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:polly:getSpeechSynthesisTask",
              "Output": {
                "Item": "{% $states.input.Item %}",
                "Result": "{% $states.result %}"
              },
              "Next": "Task is completed"
            },
            "Task is completed": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Pass",
                  "Condition": "{% ($states.input.Result.SynthesisTask.TaskStatus) = (\"completed\") %}"
                }
              ],
              "Default": "Wait"
            },
            "Pass": {
              "Type": "Pass",
              "Next": "DynamoDB UpdateItem (音声リンク保存)"
            },
            "DynamoDB UpdateItem (音声リンク保存)": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Arguments": {
                "TableName": "Article",
                "Key": {
                  "ArticleId": {
                    "S": "{% $states.input.Item.ArticleId.S %}"
                  }
                },
                "UpdateExpression": "SET S3URL = :S3URLRef",
                "ExpressionAttributeValues": {
                  ":S3URLRef": {
                    "S": "{% $states.input.Result.SynthesisTask.OutputUri %}"
                  }
                }
              },
              "End": true
            },
            "Wait": {
              "Type": "Wait",
              "Seconds": 5,
              "Next": "GetSpeechSynthesisTask"
            }
          }
        }
      ]
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata",
  "TimeoutSeconds": 30
}